body {
    margin: 0px;
    padding: 0px;
    background: white;
}

#Logo {
    margin: 150px auto 0px auto;
    position: absolute;
    z-index: 10;
}

#PhotoStrip {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: auto;
}